nav{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    gap: 4px;
}

nav a{
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #333333;
    border: 1px solid #00000000;
    transition: border 0.4s, background-color 0.1s;

    
  white-space: nowrap;
}

nav a:focus{
    border-color: var(--color-primary);
}

nav a.active{
    color: var(--color-primary-darker);
    border-color: var(--color-primary-lighter);
}

nav a:hover{
    border-color: var(--color-primary);
    background-color: var(--color-primary-lighter);
    transition: border 0.2s;
}

.menu-btn{
    display: none;
}

/* Mobile */
@media (max-width: 768px){
  header nav {
    flex-direction: column;
    grid-area: nav;
    display: none;
    gap: 0;
    margin:0;
}

    header nav a{
        position: absolute;
        padding-block: 1rem;
        bottom: 10px;
    }

    header nav.isOpen a{
        position: relative;
        bottom: unset;
    }

    header nav.isOpen{
        display: flex;
    }

  header .menu-btn{
    display: block;
    grid-area: btn;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "btn title"
    "nav nav";
  }

  header .header-home{
    align-items: start;
    grid-area: title;
  }
}

