.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container p{
    margin: 0;
}

.slider-container .name{
    width: 100px;
    text-align: left;
    text-transform: capitalize;
}

.slider-container .value{
    padding: 2px 5px;
    width: 50px;
}

.slider-container input[type="range"]{
    width: 200px;
    cursor: pointer;
    accent-color: var(--color-primary);
}
