:root{
  --color-primary-darker: #ff0081;
  --color-primary-dark: #ff48a5;
  --color-primary: #ff6fbd;
  --color-primary-light: #ffaed7;
  --color-primary-lighter: #ffcae5;
  --header-height: 50px;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #333333;
}

header{

  /* margin: 8px; */
  position: fixed;
  display: flex;
  align-items: center;
  padding: 4px;
  text-decoration: none;
  background-color: #fefefe;
  box-shadow: 0 0 4px 0px #00000037;
  width: 100%;
  /* outline: 2px solid red; */
  top: 0;
  left: 0;
}

header a{
  text-decoration: none;
}

header h1{
  font-size: 1.2em;
  display: inline-block;
  position: relative;
  margin: 8px;
  color: var(--color-primary);
  text-shadow: 0px 1px 2px rgb(00, 00, 00, 0.15);

  transition: color 0.1s;

    &:hover{
      color: var(--color-primary-light);
      transition: color 0.1s;
    }

    &:active{
      color: var(--color-primary-dark);
      transition: color 0.1s;
    }
}

.menu-btn{
  /* align-items: center; */
  width: 42px;
  height: 42px;

  border: 2px solid #ffffff00;
  border-radius: 4px;
  cursor: pointer;

  background-color: #ffffff00;
}

.menu-btn img{
  display: block;
}

.menu-btn:hover{
  background-color: #eeeeee;
  /* border-color: lightpink; */
}

.menu-btn:focus{
  border-color: var(--color-primary);
}

main{
  margin-top: var(--header-height);
}

h1 {
  margin:0;
}

footer{
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

.italic{
  font-style: italic;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-container{
  margin: 4px;
  font-size: 32px;
  text-align: center;
  align-content: center;
  height: 100px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  transition: border-color 0.3s;

  &:hover{
      border-color: #ff44aa;
      transition: border-color 0.3s;
    }

    
}

.tile-container{
  text-decoration: none;
  color:darkblue;
}

.not-found-page
{
  text-align: center;
}

main > div{
  margin-top: 4em;
}

.external-links{
  margin-top: 2em;
  display: flex;
  font-size: .8em;
  gap: 16px;
}

.external-links a{
  text-decoration: none;
  color: #999999;

  &:hover{
    color:#333333;
  }
}