/* Media Quary notes
480px → small phones
768px → tablets / mobile → desktop switch point
1024px → small laptops
1280px+ → large screens
 */

:root{
  --color-primary-darker: #ff0081;
  --color-primary-dark: #ff48a5;
  --color-primary: #ff6fbd;
  --color-primary-light: #ffaed7;
  --color-primary-lighter: #ffcae5;
  --header-height: 50px;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #333333;
}

header{
  display: flex;
  position: fixed;
  align-items: center;
  text-decoration: none;
  background-color: #fefefe;
  box-shadow: 0 0 4px 0px #00000037;
  width: 100%;
  top: 0;
  left: 0;
}

header a{
  text-decoration: none;
}

header h1{
  font-size: 1.2em;
  display: inline-block;
  position: relative;
  margin: 8px;
  color: var(--color-primary);
  text-shadow: 0px 1px 2px rgb(00, 00, 00, 0.15);
  transition: color 0.1s;

    &:hover{
      color: var(--color-primary-light);
      transition: color 0.1s;
    }

    &:active{
      color: var(--color-primary-dark);
      transition: color 0.1s;
    }
}

main{
  margin-top: var(--header-height);
}

main > div{
  margin-top: 4em;
}

footer{
  font-size: 12px;
  text-align: center;
}

h1 {
  margin:0;
}

ul{
  list-style: none;
  padding: 0;
}

.site-wrapper{
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* Hamburger Menu */
.menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  border: 2px solid #ffffff00;
  border-radius: 4px;
  cursor: pointer;

  background-color: #ffffff00;

  &:hover{
    background-color: #eeeeee;
  }

  &:focus{
    border-color: var(--color-primary);
  }

  /* To fix issue with mobile button disappearing when shrinking site */
  flex-shrink: 0;
}

.menu-btn img{
  /* width: 100%; */

}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-container{
  margin: 4px;
  font-size: 32px;
  text-align: center;
  align-content: center;
  height: 100px;
  width: min(600px, 90%);
  border: 2px solid lightgray;
  border-radius: 4px;
  transition: border-color 0.3s;

  text-decoration: none;
  color:#333333;
}

.not-found-page{
  text-align: center;
}

.external-links{
  margin-top: 2em;
  display: flex;
  font-size: .8em;
  gap: 16px;
}

.external-links a{
  text-decoration: none;
  color: #999999;

  &:hover{
    color:#333333;
  }
}

/* Custom Styling Classes*/
.style-btn-cute{
    cursor:pointer;
    transition: border 0.4s, background-color 0.1s;

    &:hover{
        border-color: var(--color-primary);
        background-color: var(--color-primary-lighter);
        transition: border 0.2s;
    } 

    &.selected{
      color: var(--color-primary-darker);
      border-color: var(--color-primary);
    }
}

.italic{
  font-style: italic;
}

